.thecard {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: max-content;
  object-fit: cover;
}

.body{
  overflow: hidden;
}

.row-md-2{
  font-size: 30;
  font-family: auto;
}

.form-group{
  margin-bottom: 2rem;
}

.col-md-3{
  height: max-content;
  width: auto;
}

.container-fluid {
  display: grid;
}

.img-fluid{
  height: 100%;
  width: 100%;
}

.thecard__side {
  /*background-color: orangered;*/
  color: #fff;
  font-size: 2rem;
  height: 800px;
  transition: all .5s;
  position: absolute;
  top: 35;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-style: outset;
  border:red;
  object-fit: cover;
}

.thecard__side--front {
  /*background-color: orangered;*/
}

.thecard__side--back {
  /*background-color: green;*/
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.thecard:hover .thecard__side--front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.thecard:hover .thecard__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

footer {
  position: absolute;
  bottom: 0;
  width : 100%;
  background-color: #007b5e;
}